.main {
    max-width: 100%;
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0 0 12px 12px;
    position: relative;
    margin-bottom: 80px;
    .splash {
        max-width: 1980px;
        margin: 0 auto 60px;
        height: 1000px;
        background-image: url('../../images/header/symbol.svg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;

        .tagline {
            font-weight: 700;
            font-size: 38px;
            line-height: 46px;
            text-align: center;
            color: #FFFFFF;
            margin-top: 365px;
            margin-bottom: 405px;
        }
        .splash__scroll {
            margin: 0 auto;
            width: 42px;
            cursor: pointer;
        }
    }
    .header {
        padding: 50px 160px 5px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
        .header__r-side {
            .header__burger {
                display: none;
            }
            .header__contacts {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                .header__link {
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 15px;
                    letter-spacing: 1px;
                    color: #FFFFFF;
                    padding: 5px 7px;
                    text-decoration: none;

                    &:hover {
                        background: rgba(255, 255, 255, 0.2);
                        border-radius: 8px;
                    }

                    &.active {
                        background: #F0145A;
                        border-radius: 8px;
                    }
                }

                .header__address {
                    line-height: 20px;
                    color: #B3B3BA;
                    text-decoration: none;
                }

                .header__tel {
                    font-weight: 700;
                    line-height: 20px;
                    color: #FFFFFF;
                    text-decoration: none;
                }
            }
            .header__nav {
                .header__navlist {
                    display: flex;
                    justify-content: flex-end;
                    .header__navlist-item {
                        .header__navlist-link {
                            margin-left: 15px;
                            font-weight: 700;
                            line-height: 20px;
                            color: #FFFFFF;
                            text-decoration: none;
                            position: relative;

                            &:hover::after {
                                content: '';
                                display: block;
                                width: 100%;
                                height: 2px;

                                position: absolute;
                                bottom: -3px;
                                left: 50%;
                                transform: translateX(-50%);
                                background-color: #fff;
                            }

                            &.active {
                                color: #F0145A;
                                position: relative;
                                &::after {
                                    content: '';
                                    display: block;
                                    width: 100%;
                                    height: 2px;

                                    position: absolute;
                                    bottom: -3px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    background-color: #F0145A;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .experience {
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
        .experience__nav {
            padding: 14.5px 0;
            position: relative;
            margin-right: 60px;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: -60px;
                height: 303px;
                border-right: 4px solid rgba(255, 255, 255, 0.3);;
            }
            .experience__nav--list {
                width: 375px;
                text-align: right;
                .experience__nav--item {
                    margin-bottom: 30px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    .experience__nav--link {
                        font-weight: 700;
                        font-size: 38px;
                        line-height: 46px;
                        color: #B3B3BA;
                        text-decoration: none;
                        &.active {
                            background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            background-clip: text;
                            text-fill-color: transparent;
                        }
                        &.active:hover {
                            background: none;
                            -webkit-background-clip: border-box;
                            -webkit-text-fill-color: currentColor;
                            background-clip: border-box;
                            text-fill-color: currentColor;
                            color: #F0145A;
                        }
                        &:hover {
                            color: #F0145A;
                        }
                    }
                }
            }
        }
        .experience__text {
        padding: 73px 0;
        margin-left: 60px;
            .experience__text--title {
                width: 860px;
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                line-height: 37px;
                color: #FFFFFF;
                margin-bottom: 30px;
            }
            .experience__text--desc {
                width: 860px;
                font-size: 19px;
                line-height: 30px;
                color: #FFFFFF;
            }
        }
    }
    .profits {
        margin: 0 auto;
        padding: 0 160px;
        .nameplate {
            width: 100px;
            margin-bottom: 10px;
        }
        .sub-title {
            margin-bottom: 60px;
        }
        .profits__cards {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .profits__card {
                margin-bottom: 57px;
                max-width: 29%;

                .profits__card--image {
                    padding: 14px;
                    background: #FFFFFF;
                    border-radius: 24px;
                    margin-bottom: 30px;
                }
                .profits__card--title {
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 27px;
                    color: #24A3FF;
                    margin-bottom: 15px;
                    display: block;
                    text-decoration: none;
                    &:hover {
                        color: #F0145A;
                    }
                }
                .profits__card--text {
                    line-height: 26px;
                    color: #FFFFFF;
                }
            }
        }
    }
}
.main::before {
    display: block;
    content: '';
    position: absolute;
    bottom: -10px;
    right: 50%;
    transform: translateX(50%);
    max-width: 1880px;
    width: 97.2%;
    height: 10px;
    background: #CACADB;
    border-radius: 0px 0px 12px 12px;
}
.main::after {
    display: block;
    content: '';
    position: absolute;
    bottom: -20px;
    right: 50%;
    transform: translateX(50%);
    max-width: 1840px;
    width: 94.4%;
    height: 10px;
    background: #E7E7F2;
    border-radius: 0px 0px 12px 12px;
}
.team {
    padding: 0 160px;
    .team-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        .team__info {
            background-image: url('../../images/team-photo/team-photo-1920.png');
            background-repeat: no-repeat;
            padding: 30px 30px 30px 430px;
            background-color: #F5F5FA;
            border-radius: 12px;
            .nameplate {
                margin-bottom: 5px;
            }
            .team__info--quote {
                font-weight: 700;
                font-size: 38px;
                line-height: 46px;
                background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                margin-bottom: 30px;
            }
            .team__info--author {
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                color: #B3B3BA;
                margin-bottom: 6px;
            }
            .team__info--position {
                font-size: 14px;
                line-height: 22px;
                color: #B3B3BA;
            }
        }
    }
    .team__slider {
        display: flex;
        margin: 0 auto 60px;
        width: 80px;
        justify-content: space-between;
        .team__slider--image {
            cursor: pointer;
            &.active circle {
                fill-opacity: 1;
            }
            & circle {
                fill-opacity: 0.2;
            }
        }
    }
}
.clients {
    padding: 0 100px;
    .clients__header {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #323264;
        text-align: center;
        margin-bottom: 30px;
    }
    .clients__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1720px;
        border-radius: 12px;
        overflow: hidden;
        margin-bottom: 60px;

        .clients__item {
            width: 25%;
            height: 120px;
            &:nth-child(1) {
                background: #1C4280;
            }
            &:nth-child(2) {
                background: #143646;
            }
            &:nth-child(3) {
                background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
            }
            &:nth-child(4) {
                background: #9E4DC3;
            }
            &:nth-child(5) {
                background: #FD9339;
            }
            &:nth-child(6) {
                background: #E2E2E4;
            }
            &:nth-child(7) {
                background: #C71C36;
            }
            &:nth-child(8) {
                background: #DCF3F9;
            }
            &:nth-child(9) {
                background: #EAEAEA;
            }
            &:nth-child(10) {
                background: #282240;
            }
            &:nth-child(11) {
                background: #1D4568;
            }
            &:nth-child(12) {
                background: #000000;
            }
            .clients_link {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
.recommended {
    padding: 30px 160px 0;
    background: #F5F5FA;
    .nameplate {
        margin-bottom: 10px;
    }
    .sub-title {
        margin-bottom: 30px;
    }
    .recommended__cards {
        display: flex;
        justify-content: space-between;
        max-width: 1600px;
        .recommended__card {
            width: 32%;
            background: #FFFFFF;
            border-radius: 8px;
            overflow: hidden;
            .recommended__card--image {
                width: 100%;
            }
            .recommended__card--desc {
                padding: 30px;
                .recommended__card--title {
                    display: block;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    color: #24A3FF;
                    text-decoration: none;
                    margin-bottom: 15px;
                    &:hover {
                        color: #F0145A;
                    }
                }
                .recommended__card--date {
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 15px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: #B3B3BA;
                    margin-bottom: 15px;
                }
                .recommended__card--line {
                    margin: 0 0 15px 0;
                    border: 2px solid #E6E6F0;
                }
                .recommended__card--text {
                    font-size: 14px;
                    line-height: 22px;
                    color: #000000;
                }
            }

        }
    }
}
.footer {
    padding: 60px 160px 30px;
    background: #F5F5FA;
    .footer__wrapper {
        position: relative;
        max-width: 1600px;
        display: flex;
        justify-content: space-between;
        &::before {
            content: '';
            position: absolute;
            top: -30px;
            width: 100%;
            height: 2px;
            background: #E6E6F0;
        }
        .footer__contacts--copyright {
            line-height: 20px;
            color: #B3B3BA;
        }
    }

    .footer__contacts--address {
        margin-bottom: 20px;
        .footer__contacts--text {
            position: relative;
            line-height: 20px;
            color: #323264;
            margin-right: 26px;
        }
        .footer__contacts--link {
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: none;
            color: #24A3FF;
            &:hover {
                color: #F0145A;
            }
        }
    }
    .footer__social {
        display: flex;
        align-items: center;
        .footer__social--facebook {
            position: relative;
            margin-right: 26px;
        }
        .footer__social--phone {
            position: relative;
            font-weight: 700;
            line-height: 20px;
            color: #46466E;
            text-decoration: none;
            margin-right: 26px;
        }
        .footer__social--email {
            font-weight: 700;
            line-height: 20px;
            color: #24A3FF;
            text-decoration: none;
            &:hover {
                color: #F0145A;
            }
        }
    }
}
.nameplate {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF;
    cursor: pointer;
    &:hover {
        color: #F0145A;
    }
}
.nameplate:hover svg path {
    stroke: #F0145A;
}
.sub-title {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.header__contacts-links,
.header__address,
.header__tel {
    display: flex;
    align-items: center;
    margin-right: 6px;
}
.header__contacts-links::after,
.header__address::after,
.header__tel::after {
    margin-left: 6px;
    content: '';
    width: 6px;
    height: 6px;
    background: #E6E6F0;
    border-radius: 50%;
}
.header__fb-image:hover path {
        fill: #F0145A;
}
.splash__scroll-btn:hover circle,
.splash__scroll-btn:hover path {
    opacity: 0.5;
    stroke: #F0145A;
}
.footer__contacts--text::after,
.footer__social--facebook::after,
.footer__social--phone::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -16px;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    background: #B3B3BA;
    border-radius: 50%;
}
.footer__social--fb-img:hover path {
    fill: #F0145A;
}